<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- # CSS Geral # -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Fonts Google -->
	<link href="https://fonts.googleapis.com/css?family=Lobster+Two|Karla&display=swap" rel="stylesheet">
	<!-- Fonts Usadas -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}">
	<!-- Navbar CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
	<!-- Backgrounds CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/background.css}">
	<!-- Footer CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
	<!-- ############# -->
	<!-- Scrollbar -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/scrollbar.css}">
	<!-- Style CSS (vai substituir os css unicos das paginas -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">