.bg-1 {
	background-image: url(../imagem/header/bg1.jpg);
}

.bg-2 {
	background-image: url(../imagem/header/bg2.jpg);
}

.bg-3 {
	background-image: url(../imagem/header/bg3.jpg);
}

.bg-4 {
	background-image: url(../imagem/header/bg4.jpg);
}

.bg-5 {
	background-image: url(../imagem/header/bg5.jpg);
}

.bg-6 {
	background-image: url(../imagem/header/bg6.jpg);
}