<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Openliber - Cadastro</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Cadastro CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/cadastro.css}">
</head>
<body class="bg-3">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card bg-dark">
				<div class="card-header">
					<h3>Cadastro</h3>
				</div>
				<div class="card-body">
					<div class="form-group text-center">
						<button class="btn btn-block login_btn">
							<i class="fab fa-google mr-1"></i> Login com Google
						</button>
					</div>
					<form th:action="@{/cadastro}" th:object="${usuario}" method="POST" id="form" class="needs-validation" novalidate>
						<div th:if="${mensagemErro != null}" th:text="${mensagemErro}" class="alert alert-danger"></div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text bg-primary"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" id="apelido" name="apelido" th:field="*{apelido}" placeholder="Apelido" required onkeyup="validarApelido(false)">
							<div id="apelido-feedback" class="d-none"></div>
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text bg-primary"><i class="fas fa fa-envelope"></i></span>
							</div>
							<input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email" required onkeyup="validarEmail(false)">
							<div id="email-feedback" class="d-none"></div>
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text bg-primary"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" id="senha" name="senha" th:field="*{senha}" placeholder="Senha" required onkeyup="validarSenha(false)">
							<div id="senha-feedback" class="d-none"></div>
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text bg-primary"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" th:field="*{confirmarSenha}" placeholder="Confirmar Senha" required onkeyup="validarConfirmarSenha(false)">
							<div id="confirmarSenha-feedback" class="d-none"></div>
						</div>

						<div class="form-group">
						<!--<input type="submit" value="Cadastrar" class="btn float-right login_btn btn-block">-->
						<input type="submit" class="btn btn-block btn-primary" value="Cadastrar">
						<a th:href="@{/inicio}" class="mt-1 btn btn-block btn-danger">Voltar</a>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Já tem uma conta?<a th:href="@{/login}"><strong class="link-strong">Faça o login</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
	<!-- # Cadastro JS -->
	<script type="text/javascript" th:src="@{/js/cadastro.js}"></script>
	<script type="text/javascript">
		$("#form").submit(function(event) {
			if (!validarFormulario()) {
				event.preventDefault();
			}
		});
	</script>
</body>
</html>