<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Openliber - Novo Email</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Livro CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/livro.css}">
	<!-- Gallery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
	<!-- ################# -->
</head>
<body id="topo">
	<a id="skippy" class="sr-only sr-only-focusable" href="#upload">
		<div class="container">
			<span class="skiplink-text">Pular para conteúdo principal</span>
		</div>
	</a> <!-- /.atalho para o conteudo -->
	<nav th:replace="layout/navbar :: login"></nav> <!-- ./navbar -->
	
	<div class="container-fluid mr-3 my-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Livro</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Página atual">
					Novo <span class="sr-only">(página atual)</span>
				</li>
			</ol>
		</nav> <!-- /.breadcrumb -->

		<div class="row mb-5">
			<div class="col-12">
				<form th:action="@{/email/enviar}" method="post" th:object="${mailer}">
					<h4>Remetente</h4>
					<div class="form-row">
						<div class="form-group col-4">
							<label for="remetenteNome">Nome</label>
							<input type="text" name="remetenteNome" placeholder="Nome do remetente" class="form-control">
						</div>
						<div class="form-group col-8">
							<label for="remetenteEmail">Email</label>
							<input type="email" name="remetenteEmail" placeholder="Email do remetente" class="form-control">
						</div>
					</div>

					<h4>Destinatario</h4>
					<div class="form-row">
						<div class="form-group col-4">
							<label for="destinatarioNome">Nome</label>
							<input type="text" name="destinatarioNome" placeholder="Nome do destinatario" class="form-control">
						</div>
						<div class="form-group col-8">
							<label for="destinatarioEmail">Email</label>
							<input type="email" name="destinatarioEmail" placeholder="Email do destinatario" class="form-control">
						</div>
					</div>

					<h4>Mensagem</h4>
					<div class="form-group">
						<label for="assunto">Assunto</label>
						<input type="text" name="assunto" placeholder="Digite o assunto do email" class="form-control">
					</div>
					<textarea name="mensagem" id="" cols="30" rows="10" class="form-control" placeholder="Digite a mensagem"></textarea>

					<button type="submit" class="btn btn-success btn-lg mt-3 float-right">Enviar</button>
				</form>
			</div>
		</div> <!-- /.row livro -->

		<footer th:replace="layout/footer :: footer"></footer> <!-- /.footer -->
	</div> <!-- /.container geral -->

	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
</body>
</html>