<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Openliber - Novo Livro</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Livro CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/livro.css}">
	<!-- Gallery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
	<!-- ################# -->
</head>
<body id="topo">
	<a id="skippy" class="sr-only sr-only-focusable" href="#upload">
		<div class="container">
			<span class="skiplink-text">Pular para conteúdo principal</span>
		</div>
	</a> <!-- /.atalho para o conteudo -->
	<nav th:replace="layout/navbar :: login"></nav> <!-- ./navbar -->
	
	<div class="container-fluid mr-3 my-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Grupo</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Página atual">
					Editar <span class="sr-only">(página atual)</span>
				</li>
			</ol>
		</nav> <!-- /.breadcrumb -->

		<div class="row mb-5">
			<div class="col-12 col-md-3">
				<div class="container-hover text-center mt-5">
					<img th:src="@{/imagem/grupo/placeholder.jpg}" alt="#" class="grupo-capa">
					<div class="middle">
						<a href="#" class="btn btn-info btn-lg">Escolher Capa</a>
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-info btn-lg">Escolher Capa</button>
				</div>
			</div> <!-- /.col-12 col-md-3 -->
			<div class="col-12 col-md-9" id="upload">
				<form class="mt-md-5 mt-3 mr-md-5">
					<h4>Informação do grupo</h4>
					<div class="form-group mx-auto">
						<label class="control-label">Nome</label>
						<input type="text" th:value="${nome}" class="form-control" placeholder="Digite o nome do Grupo">
					</div>
					<div class="form-group">
						<label class="control-label">Descrição Curta</label>
						<textarea class="form-control" th:text="${descricaoCurta}" placeholder="Descrição curta do Grupo" style="rezise: none" rows="2"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Descrição Longa</label>
						<textarea class="form-control" th:text="${descricaoLonga}" placeholder="Descrição longa do Grupo" style="rezise: none" rows="5"></textarea>
					</div>
      				
      				<div class="text-center mt-5">
						<button type="submit" class="btn btn-lg mr-3 mt-2 btn-primary w-50">Salvar</button>
						<button type="reset" class="btn btn-lg mt-2 btn-warning">Apagar</button>
					</div>
				</form>
			</div> <!-- /.col-12 livro col-md-3 -->
		</div> <!-- /.row livro -->

		<footer th:replace="layout/footer :: footer"></footer> <!-- /.footer -->
	</div> <!-- /.container geral -->

	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
</body>
</html>