<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="|${titulo} (${autor})|">Openliber</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Index CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	<!-- Gallery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
	<!-- ligthSlider CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/lightslider.css}">
	<!-- ################# -->
	<style type="text/css">
		.my-container {
			width: 100vw !important;
			height: 100vh;
			display: flex;
			flex-direction: column;
		}
		iframe {
			height: 100%;
		}
	</style>
</head>
<body id="topo">
	
	<div class="my-container">
		<a id="skippy" class="sr-only sr-only-focusable" href="#ultimosAdicionados">
			<div class="container">
				<span class="skiplink-text">Pular para conteúdo principal</span>
			</div>
		</a> <!-- /.atalho para o conteudo -->
		<nav th:replace="layout/navbar :: ${session.usuarioLogado != null} ? 'login' : 'logout'"></nav> <!-- ./navbar -->
		<iframe class="w-100" id="leitor" th:src="@{/bibi-iframe(book=${param.book[0]})}"></iframe>
	</div>

	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
	<!-- lightslider -->
	<script th:src="@{/js/lightslider.js}"></script>

	<!-- Index JS -->
	<script th:src="@{/js/index.js}"></script>
	<script>
	var livroAcesso={
	
	"autorLivro": "[[${param.book[0]}]]",
	"idUsuario": "[[${session.usuarioLogado.id}]]"
	
	}
	$.ajax({
		url: '/registrarAcesso',
		accept: 'application/json',
		contenType: 'application/json; charset=utf-8',
		type: 'POST',
		data: JSON.stringify(livroAcesso),
	}).done(function(response){
		if (response.success == true) {
			console.log(response);
		}
	}).fail(function(jqXHR, textStatus, errorThown){
	
		console.log(jqXHR.status);
		console.log(textStatus);
		console.log(errorThrown);
	
	})
	
	
	
	
	
	</script>
</body>
</html>