<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Openliber - Inicio</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Index CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	<!-- Gallery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
	<!-- ligthSlider CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/lightslider.css}">
	<!-- ################# -->
	<style type="text/css">
		html, body {
			height: 100% !important;
		}
		.container-fluid {
			height: 100% !important;
		}
		iframe {
			height: 100% !important;
		}
	</style>
</head>
<body id="topo">
	<a id="skippy" class="sr-only sr-only-focusable" href="#ultimosAdicionados">
		<div class="container">
			<span class="skiplink-text">Pular para conteúdo principal</span>
		</div>
	</a> <!-- /.atalho para o conteudo -->
	<nav th:replace="layout/navbar :: ${session.usuarioLogado != null} ? 'login' : 'logout'"></nav> <!-- ./navbar -->
	<div class="container-fluid p-0 m-0">
		<div class="row m-0 p-0" id="ultimosAdicionados">
			<div class="col-12 m-0 p-0">
				<iframe class="w-100" th:src="@{/bibi-iframe(book=${param.book[0]})}"></iframe>
			</div>
		</div>

		<footer th:replace="layout/footer :: leitor"></footer> <!-- /.footer -->
	</div> <!-- /.container geral -->

	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
	<!-- lightslider -->
	<script th:src="@{/js/lightslider.js}"></script>

	<!-- Index JS -->
	<script th:src="@{/js/index.js}"></script>
	
	<script th:if="${alertErro != null}" type="text/javascript">
		Swal.fire(
		  'Ops!',
		  'Livro não encontrado!',
		  'error'
		);
	</script>
</body>
</html>