<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Openliber - Novo Livro</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Livro CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/livro.css}">
	<!-- Gallery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
	<!-- ################# -->
</head>
<body id="topo">
	<a id="skippy" class="sr-only sr-only-focusable" href="#upload">
		<div class="container">
			<span class="skiplink-text">Pular para conteúdo principal</span>
		</div>
	</a> <!-- /.atalho para o conteudo -->
	<nav th:replace="layout/navbar :: login"></nav> <!-- /.navbar -->
	
	<div class="container-fluid mr-3 my-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Livro</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Página atual">
					Novo <span class="sr-only">(página atual)</span>
				</li>
			</ol>
		</nav> <!-- /.breadcrumb -->

		<div th:if="${erro != null}">
			<div class="alert alert-danger" th:text="${erro}"></div>
		</div>
		<form th:action="@{/upload}" th:object="${livro}" method="post" id="form-livro" enctype="multipart/form-data" onsubmit="formSubmit();return(false);" class="needs-validation" novalidate>
			<div class="row mb-5">
				<div class="col-12 col-md-3">
					<div class="container-hover mt-5">
						<img id="cover-preview" th:src="@{${capa}}" alt="#" class="image capa cover-preview">
						<div class="middle">
							<label class="btn btn-info btn-lg">
								Escolher Capa
								<input name="capaTemp" type="file" accept=".jpeg, .jpg, .png" class="d-none">
							</label>
						</div>
					</div>
					<div class="text-center mt-3">
						<label class="btn btn-info btn-lg">
							Escolher Capa
							<input name="capaTemp" type="file" accept=".jpeg, .jpg, .png" class="d-none">
						</label>
					</div>
				</div> <!-- /.col-12 col-md-3 -->
				<div class="col-12 col-md-9" id="upload">
					<div class="mt-md-5 mt-3 mr-md-5">
						<h4>Informação do livro</h4>
						<div class="form-group mx-auto">
							<label class="control-label" for="titulo">Título</label>
							<input type="text" th:field="*{titulo}" class="form-control" id="titulo" placeholder="Digite o Título do livro" onkeyup="validarTitulo();">
							<div id="titulo-feedback" class="d-none"></div>
						</div>
						<div class="form-group">
							<label class="control-label" for="subtitulo">Subtitulo</label>
							<input type="text" th:field="*{subtitulo}" class="form-control" id="subtitulo" placeholder="Digite o titulo do livro" onkeyup="validarSubtitulo();">
							<div id="subtitulo-feedback" class="d-none"></div>
						</div>
						<div class="form-group">
							<label class="control-label" for="edicao">Edição</label>
							<input type="text" th:field="*{edicao}" class="form-control" id="edicao" placeholder="Digite a edição do livro" onkeyup="validarEdicao();">
							<div id="edicao-feedback" class="d-none"></div>
						</div>
						<div class="form-row">
							<div class="form-group col-6">
								<label class="control-label" for="anoLancamento">Ano de Lançamento</label>
								<input type="number" th:field="*{anoLancamento}" class="form-control" id="anoLancamento" placeholder="Digite o Ano de Lançamento do Livro" onkeyup="validarAnoLancamento();">
								<div id="anoLancamento-feedback" class="d-none"></div>
							</div>
							<div class="form-group col-6">
								<label class="control-label" for="numPaginas">Número de Páginas</label>
								<input type="number" th:field="*{numPaginas}" class="form-control" id="numPaginas" placeholder="Digite o Número de Páginas do Livro" onkeyup="validarNumPaginas();">
								<div id="numPaginas-feedback" class="d-none"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="genero">Gênero</label>
							<select th:field="*{generos}" class="custom-select" id="genero" onchange="validarGenero();">
								<option value="" selected class="d-none">Selecione o gênero do livro</option>
								<option th:each="genero : ${generos}" th:text="${genero.texto}" th:value="${genero.texto}"></option>
							</select>
							<div id="genero-feedback" class="d-none"></div>
						</div>
						<div class="form-group">
							<label class="control-label" for="sinopse">Sinopse</label>
							<textarea class="form-control" id="sinopse" th:field="*{sinopse}"  placeholder="Digite a sinopse do livro" style="rezise: none" rows="5" onkeyup="validarSinopse();"></textarea>
							<div id="sinopse-feedback" class="d-none"></div>
						</div>
						
						<h4 class="mt-5">Upload do livro</h4>
						<div class="form-group">
	      					<label>Selecione abaixo o livro a ser enviado, o livro deve estar no formato epub.</label>
	      					<div class="custom-file">
								<input type="file" name="epubTemp"  class="custom-file-input" accept=".epub">
								<label class="custom-file-label" for="epubUpload">Escolher livro .epub</label>
							</div>
	      				</div>
	      				
	      				<div class="text-center mt-5">
							<button type="submit" class="btn btn-lg mr-3 mt-2 btn-primary w-50">Salvar</button>
							<button type="reset" class="btn btn-lg mt-2 btn-warning">Apagar</button>
						</div>
					</div>
				</div> <!-- /.col-12 livro col-md-3 -->
			</div> <!-- /.row livro -->
		</form>

		<footer th:replace="layout/footer :: footer"></footer> <!-- /.footer -->
	</div> <!-- /.container geral -->

	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
	<script th:src="@{/js/livro-form.js}"></script>

	<script>
		function readURL(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    
		    reader.onload = function(e) {
		      $('#cover-preview').attr('src', e.target.result);
		    }
		    
		    reader.readAsDataURL(input.files[0]);
		  }
		}

		$('input[name="capaTemp"]').change(function() {
		  readURL(this);
		});
	</script>
</body>
</html>