<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Openliber - Login</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Login CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body class="bg-1">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card bg-dark">
				<div class="card-header">
					<h3>Login</h3>
				</div>
				<div class="card-body">
					<div class="form-group text-center">
						<button class="btn btn-block login_btn">
							<i class="fab fa-google mr-1"></i> Login com Google
						</button>
					</div>
					<form th:action="@{/login}" th:object="${usuario}" method="post">
						<div th:if="${mensagemErro != null}" th:text="${mensagemErro}" class="alert alert-danger"></div>
						<input th:if="${acessoNegado != null}" name="retorno" type="hidden" th:value="${retorno}">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text bg-primary"><i class="fas fa fa-envelope"></i></span>
							</div>
							<input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email" required onkeyup="validarEmail(false)">
							<div id="email-feedback" class="d-none"></div>
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text bg-primary"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" id="senha" name="senha" th:field="*{senha}" placeholder="Senha" required onkeyup="validarSenha(false)">
							<div id="senha-feedback" class="d-none"></div>
						</div>
						<div class="row remember">
							<input type="checkbox">Lembrar de mim
						</div>
						<div class="form-group">
							<input type="Submit" value="Entrar" class="btn btn-primary float-right">
							<a th:href="@{/inicio}" class="btn btn-danger float-right mr-2">Voltar</a>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Não tem uma conta?<a th:href="@{/cadastro}"><strong>Cadastre-se</strong>
						</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a th:href="@{/recuperarsenha}"><strong>Esqueceu a senha?</strong></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
	<script th:src="@{/js/cadastro.js}"></script>
	
	<script th:if="${contaCriada != null}" type="text/javascript">
		Swal.fire({
			title: 'Sucesso!',
			text: 'Cadastro criado com sucesso, faça o login para ter acesso a sua conta!',
			type: 'success',
			showConfirmButton: false,
			timer: 2000
		});
	</script>
	
	<script th:if="${acessoNegado != null}" type="text/javascript">
		Swal.fire({
			'Acesso Negado!',
			'Faça o login para ter acesso a esta página!',
			'error',
			showConfirmButton: false,
			timer: 1500
		});
	</script>
</body>
</html>