<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="|Openliber - ${usuario.apelido}|">Openliber</title>

	<!-- # Head Include # -->
	<span th:replace="layout/head :: head"></span>

	<!-- # CSS da página # -->
	<!-- Index CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	<!-- Gallery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">
	<!-- ligthSlider CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/lightslider.css}">
	<!-- ################# -->
	<style type="text/css">
		.avatar {
			position: relative;
			width: 100%;
			height: auto;
		}
	</style>
</head>

<body id="topo">

	<nav th:replace="layout/navbar :: ${session.usuarioLogado != null} ? 'login' : 'logout'"></nav> <!-- ./navbar -->

	<div class="container-fluid mt-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item">
					<a th:href="|/perfil/${usuario.apelido}|">Perfil</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page" data-toggle="tooltip" data-placement="bottom"
					title="Página atual">
					<span>Editar</span> <span class="sr-only">(página atual)</span>
				</li>
			</ol>
		</nav> <!-- /.breadcrumb -->

		<form id="form-perfil" th:action="@{/perfil/editar}" th:object="${usuario}" method="POST" class="needs-validation" novalidate>
			<div class="row mb-5">
				<div class="col-12 col-md-3">
					<section>
						<img class="avatar" id="foto-preview" th:src="${usuario.foto}"
							th:alt="|Foto do perfil de ${usuario.apelido}|">
						<div class="mt-1 text-center">
							<span class="btn btn-info">
								<label style="padding: 0; margin: 0" for="fotoArquivo">Escolher imagem</label>
								<input class="d-none" type="file" id="fotoArquivo" name="fotoArquivo">
							</span>
						</div>
						<h1 class="text-center mt-2" th:text="|${usuario.apelido}|"></h1>
						<p class="text-center" th:text="${usuario.sobre}"></p>
					</section>
				</div>
				<div class="col-12 col-md-9">
					<section>
						<!-- ERROS -->
						<div th:if="${erro} != null" class="alert alert-danger" th:text="${erro}"></div>
						<div th:if="${erros} != null" th:each="erro : ${erros}" class="alert alert-danger"
							th:text="${erro}"></div>

						<!-- ID -->
						<input type="hidden" th:field="*{id}">

						<h4>Informação pessoal</h4>
						<fieldset>
							<div class="form-group">
								<label for="apelido">Apelido</label>
								<input class="form-control" type="text" id="apelido" name="apelido" th:field="*{apelido}" onkeyup="validarApelido(false);" readonly>
								<div id="apelido-feedback" class="d-none"></div>
							</div>
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										<label for="nome">Nome</label>
										<input type="text" th:field="*{nome}" class="form-control" id="nome"
											placeholder="Digite seu nome" onkeyup="validarNome(false);" >
										<div id="nome-feedback" class="d-none"></div>
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="sobrenome">Sobrenome</label>
										<input type="text" th:field="*{sobrenome}" class="form-control" id="sobrenome"
											placeholder="Digite seu sobrenome"
											onkeyup="validarSobrenome(false);">
										<div id="sobrenome-feedback" class="d-none"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" th:field="*{email}" class="form-control" id="email"
									placeholder="Digite seu email" 
									onkeyup="validarEmail(false);"
									readonly>
								<div id="email-feedback" class="d-none"></div>
							</div>
						</fieldset>

						<h4 class="mt-2">Sobre</h4>
						<fieldset>
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										<label class="label-control" for="cidade">Cidade</label>
										<input class="form-control" type="text" th:field="*{nacionalidade.cidade}"
											id="cidade" placeholder="Digite sua cidade"
											onkeyup="validarNacionalidade('cidade', false);">
										<div id="cidade-feedback" class="d-none"></div>
									</div>
								</div>
								<div class="col">
									<label class="label-control" for="estado">Estado</label>
									<input class="form-control" type="text" th:field="*{nacionalidade.estado}"
										id="estado" placeholder="Digite seu estado"
										onkeyup="validarNacionalidade('estado', false);">
									<div id="estado-feedback" class="d-none"></div>
								</div>
								<div class="col">
									<label class="label-control" for="pais">Pais</label>
									<input class="form-control" type="text" th:field="*{nacionalidade.pais}" id="pais"
										placeholder="Digite sua pais" onkeyup="validarNacionalidade('pais', false);">
									<div id="pais-feedback" class="d-none"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="label-control" for="sobre">Sobre você</label>
								<textarea th:field="*{sobre}" class="form-control" style="resize: none" rows="4"
									id="sobre" placeholder="Escerva aqui sobre você"
									onkeyup="validarSobre(false);"></textarea>
								<div id="sobre-feedback" class="d-none"></div>
							</div>
						</fieldset>

						<h4 class="mt-2">Alterar senha</h4>
						<fieldset>
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										<label class="label-control" for="senha">Digite a senha</label>
										<input class="form-control" type="password" th:field="*{senha}" id="senha"
											placeholder="Senha" onkeyup="validarSenha(false);">
										<div id="senha-feedback" class="d-none"></div>
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label class="label-control" for="confirmarSenha">Repita a senha</label>
										<input class="form-control" type="password" th:field="*{confirmarSenha}"
											id="confirmarSenha" placeholder="Senha"
											onkeyup="validarConfirmarSenha(false);">
										<div id="confirmarSenha-feedback" class="d-none"></div>
									</div>
								</div>
							</div>
						</fieldset>

						<div class="mt-2">
							<button class="btn btn-success btn-lg btn-block" type="submit">
								<i class="fas fa-save"></i>
								Salvar
							</button>
						</div>

					</section>
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="layout/footer :: footer"></footer> <!-- /.footer -->
	</div>

	<!-- # Script Import -->
	<span th:replace="layout/footer :: script"></span>
	<!-- lightslider -->
	<script th:src="@{/js/lightslider.js}"></script>

	<!-- Index JS -->
	<script th:src="@{/js/index.js}"></script>

	<!-- Validações -->
	<script th:src="@{/js/perfil-form.js}"></script>

	<script type="text/javascript">
		$("#form").submit(function(event) {
			event.preventDefault();
			if (validarFormulario()) {
				$("#form").submit();
			} else {
				return false;
			}
		});

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#foto-preview').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$('input[name="fotoArquivo"]').change(function () {
			readURL(this);
		});
	</script>
</body>

</html>